NAME={{ item.device }}
DEVICE={{ item.device }}
TYPE={{ item.type|default('Ethernet') }}
{% if item.disabled is defined and item.disabled %}
ONBOOT=no
BOOTPROTO=none
{% else %}
{% if item.macaddr is defined %}
MACADDR={{ item.macaddr }}
{% endif %}
{% if item.arp is defined %}
ARP={{ 'yes' if item.arp else 'no' }}
{% endif %}
{% if item.bridge is defined %}
BRIDGE={{ item.bridge }}
{% endif %}
ONBOOT=yes
IPV4_FAILURE_FATAL=no
{% if item.ip is defined or item.ipmulti is defined %}
BOOTPROTO=none
{% if item.ip is defined %}
IPADDR={{ item.ip }}
PREFIX={{ item.subnet }}
{% endif %}
{% if item.ipmulti is defined %}
{% set count = 0 %}
{% for itemip in item.ipmulti %}
IPADDR{{ count }}={{ itemip.ip }}
PREFIX{{ count }}={{ itemip.subnet }}
{% set count = count + 1 %}
{% endfor %}
{% endif %}
{% if item.gateway is defined %}
GATEWAY={{ item.gateway }}
DEFROUTE=yes
{% endif %}
{% endif %}
{% if item.dhcp is defined %}
BOOTPROTO=dhcp
{% endif %}
{% if item.ip6 is defined %}
IPV6INIT=yes
IPV6_AUTOCONF=no
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
IPV6ADDR={{ item.ip6 }}/{{ item.subnet6 }}
IPV6_DEFAULTGW={{ item.gateway6 }}
IPV6_PRIVACY=no
{% else %}
IPV6INIT=no
{% endif %}
{% endif %}
